<div class="wrapper" data-controller="charts">
  <div class="container">
    <h1>Итоги</h1>

    <ul style="display: flex;list-style-type: none;">
      <% @sources.each do |source| %>
        <li style="margin-right: 10px;"><%= source.title %> <%= source.amount %></li>
      <% end %>
    </ul>

    <table class="table">
      <% @grouped_items.each do |date, by_date| %>
        <tr>
          <th>Месяц</th>
          <% by_date.keys.each do |category| %>
            <th><%= category %></th>
          <% end %>
          <th>Итого</th>
        </tr>

        <tr>
          <td><%= date %></td>
          <% by_date.each do |category, by_category| %>
            <td><%= by_category %>р.</td>
          <% end %>
          <td><%= by_date.values.sum %>р.</td>
        </tr>
      <% end %>
    </table>

    <ul class="menu date-btn">
      <li>
        <%= form_tag total_spends_path(), method: :get, turbo: true, data: { turbo: true, turbo_stream: true } do %>
          <%= label_tag :date, 'Выбрать месяц' %>
          <%= date_field_tag :date, params[:date] %>
          <%= submit_tag 'Применить' %>
        <% end %>
      </li>
    </ul>

    <h2>Траты по категориям за месяц</h2>
    <div class="chart"> 
        <canvas id="chart2"></canvas>
    </div>

    <h2>Траты/доход по месяцам</h2>
    <div class="chart">
        <canvas id="chart1"></canvas>
    </div>
  </div>
</div>

<script data-turbo-track="reload">
  const chart1labels = <%= raw @grouped_items.keys.to_json %>;
  const chart1data = <%= raw @grouped_items.values.map { |by_date| by_date.values.sum }.to_json %>;
  const chart1data2 = <%= raw @grouped_items.keys.map { |date| @grouped_earnings[date] }.to_json %>;
  const chart2labels = <%= raw Array.wrap(@grouped_items[@month]&.keys).to_json %>;
  const chart2data = <%= raw Array.wrap(@grouped_items[@month]&.values).to_json %>;
</script>

<%= javascript_include_tag 'chart.js', "data-turbo-track": "reload" %>
