<div class="modal-wrapper" id="spendModal" data-controller="modal">
  <div class="modal spend-modal">
    <h2>Добавить траты</h2>

    <%= form_for(@spend, url: params[:spend_id] ? spend_path(@spend) : spends_path, html: { class: 'appear', method: (params[:spend_id] ? :put : :post) }) do |f| %>
      <div>
        <%= f.label :amount, 'Сумма' %>
        <%= f.number_field :amount %>
      </div>

      <div>
          <%= f.label :title, 'Название' %>
          <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :category_id, 'Категория' %>
        <%= f.select :category_id, Category.pluck(:title, :id), include_blank: true %>
      </div>

      <div>
        <%= f.label :source_id, 'Источник' %>
        <%= f.select :source_id, Source.all.map { |source| ["#{source.title} #{source.amount}р.", source.id] } %>
      </div>

      <div>
        <%= f.label :like %>
        <%= f.checkbox :like %>
      </div>

      <div>
        <%= f.label :replenishment, 'Пополнение' %>
        <%= f.checkbox :replenishment %>
      </div>

      <%= f.submit params[:spend_id] ? 'Применить' : 'Добавить', class: 'btn' %>
    <% end %>
  </div>      
</div>
